<div class="dashboard">
    <aside class="app-sidebar">
        <aside class="app-sidebar">

            <ul class="app-menu">
                <li><a class="app-menu__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="total"><i class="app-menu__icon fa fa-user-circle-o" aria-hidden="true"></i><span
              class="app-menu__label">Total tasks</span><span
              class="badge badge-primary badge-pill">{{resdata?resdata.totaltasks:0}}</span></a></li>
                <li><a class="app-menu__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="completed"><i
              class="app-menu__icon fa fa fa-bars"></i><span class="app-menu__label">Completed</span><span
              class="badge badge-primary badge-pill">{{resdata?resdata.completedtasks:0}}</span></a>
                </li>
                <li><a class="app-menu__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="pending"><i class="app-menu__icon fa fa-check"></i><span
              class="app-menu__label">Pending</span><span
              class="badge badge-primary badge-pill">{{resdata?resdata.pendingtasks:0}}</span></a>
                </li>
                <li><a class="app-menu__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/landing/"><i
                    class="app-menu__icon fa fa fa-bars"></i><span class="app-menu__label">Today</span><span
                    class="badge badge-primary badge-pill">{{resdata?resdata.todaytasks:0}}</span></a>
                </li>

                <!--  <li>
                    <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
                </li> -->
            </ul>
        </aside>
    </aside>
    <main class="app-content">

        <div class="container-fluid py-3 px-0 dashboard-content">
            <div class="row text-right">
                <div class="w-100">
                    <button mat-icon-button [disabled]="selectedvalues.length>0 ? false:true" class="done-btn" (click)="onCompleted('Completed')">
            <mat-icon>done</mat-icon>
          </button>
                    <button mat-icon-button [disabled]="selectedvalues.length>0 ? false:true" class="dlt-btn" (click)="onCompleted('Pending')">
            <mat-icon>pending</mat-icon>
          </button>
                    <button mat-icon-button [disabled]="selectedvalues.length>0 ? false:true" class="dlt-btn" (click)="ondelete()">
            <mat-icon>delete</mat-icon>
          </button>
                    <button mat-icon-button [disabled]="selectedvalues.length==1 ? false:true" class="dlt-btn" (click)="onEdit()">
            <mat-icon>edit</mat-icon>
          </button>

                </div>
            </div>

            <div [formGroup]="dateform">
                <mat-form-field appearance="fill">
                    <mat-label>From Date</mat-label>
                    <input matInput [matDatepicker]="fromdate" (dateChange)="onDateChange($event.value)" formControlName="fmdttm">
                    <mat-datepicker-toggle matSuffix [for]="fromdate"></mat-datepicker-toggle>
                    <mat-datepicker #fromdate></mat-datepicker>
                </mat-form-field>


                <mat-form-field appearance="fill">
                    <mat-label>To Date</mat-label>
                    <input matInput [min]="minDate" [matDatepicker]="todate" formControlName="todttm">
                    <mat-datepicker-toggle matSuffix [for]="todate"></mat-datepicker-toggle>
                    <mat-datepicker #todate></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button color="primary" [disabled]="!dateform.valid" (click)="onSearch()">Search</button>
                <button mat-raised-button color="primary" [disabled]="toggelereset()" (click)="onReset()">Reset</button>
                <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
            </div>

            <router-outlet></router-outlet>
        </div>
    </main>


</div>