.matcardcontent{

    display: flex;
    flex-direction: column;
}

.custommatcard{

    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
    padding:0px;
}

.buttonclass{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin-top: 10px;

}