<mat-toolbar color="primary" class ="toolbar">

    <div>MyStickyNotes</div>


    <div  *ngIf= "authenticationService.hideloginregister" class = "tooobar-buttons">
        <button  mat-raised-button color="primary" routerLink="/login">Login</button>
        <button  mat-raised-button color="primary" routerLink="/register">Register</button>
    </div>
   <div>
    <section class="example-section">
        <mat-slide-toggle
            class="example-margin"
            (change) = "onThemeChange($event)"
            [checked]=false
            [disabled]=false>
          change Theme!
        </mat-slide-toggle>
      </section>
    

    <button mat-raised-button color="primary" *ngIf = "authenticationService.logout" (click)="onLogout()">Logout</button>
  </div>

</mat-toolbar>

<div class="bg-image" *ngIf = false>

</div>

<router-outlet></router-outlet>